---
---
@import "normalize";
@import "rouge-github";

$color-white: #ffffff;
$color-off-white: #f4f3f5;
$color-dark-gray: #454142;
$color-mid-blue: #0078d4;
$color-light-blue: #3baaff;
$color-dark-blue: #006abc;
$color-blue-black: #091f2c;

$page-gutter: 80px;

/* LAYOUT STYLES */
body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: $color-dark-gray;
  background: $color-white;
}

a {
  color: $color-mid-blue;
}
a:hover {
  color: $color-blue-black;
}

.flex-width {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.gutters {
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 1;
  width: calc(100% - (#{$page-gutter} * 2));
}

.header {
  background: $color-blue-black;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  color: $color-white;
  padding: 0;
  margin: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 48px;
  padding: 24px 0;
  gap: 16px 24px;
}

.repo-link {
  text-decoration: none;
  color: $color-light-blue;
  font-weight: 500;
}

.repo-link:hover {
  color: $color-mid-blue;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 64px;
  margin-bottom: 64px;
}

.main-content {
  flex-shrink: 1;
  flex-grow: 0;
  order: 1
}

.main-content > *:first-child {
  margin-top: 0;
}

.nav {
  flex-shrink: 0;
  flex-grow: 0;
  width: 250px;
  padding-left: 40px;
  order: 2
}

.toc, .toc ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

.toc li {
  margin: 16px 0;
}

.toc a {
  text-decoration: none;
}

.toc-header {
  margin-top: 0;
}

.footer {
  background: $color-dark-gray;
  color: $color-white;
}

.footer-inner {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ms-logo {
  height: 96px;
  position: relative;
  left: -32px;
}


.button {
  display: inline-block;
  padding: 20px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  vertical-align: middle;
  background: $color-mid-blue;
  color: $color-white;
  margin-top: 6px;
  margin-bottom: 6px;
}

.button:hover {
  background: $color-dark-blue;
  color: $color-white;
}


/* GENERAL ELEMENT TYPE STYLES */

h1, h2, h3 {
  color: $color-blue-black;
  margin-top: 64px;
  magin-bottom: 24px;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

ol, ul {
  list-style-position: inside;
  padding-left: 0;
}

@media only screen and (max-width: 960px) {
  .nav {
    display: none;
  }
}
