---
---
@import "normalize";
@import "rouge-github";

$color-white: #ffffff;
$color-off-white: #f4f3f5;
$color-dark-gray: #454142;
$color-mid-blue: #0078d4;
$color-light-blue: #3baaff;
$color-dark-blue: #006abc;
$color-blue-black: #091f2c;

$page-gutter: 80px;

/* LAYOUT STYLES */
body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
  color: $color-dark-gray;
  background: $color-white;
}

a {
  color: $color-mid-blue;
}
a:hover {
  color: $color-blue-black;
}

.flex-width {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.gutters {
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 1;
  width: calc(100% - (#{$page-gutter} * 2));
}

.header {
  background: $color-blue-black;
  height: 96px;
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
  color: $color-white;
  padding: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 48px;
  margin-bottom: 64px;
}

.main-content {
  flex-shrink: 1;
  flex-grow: 0;
}

.main-content > *:first-child {
  margin-top: 0;
}

.nav {
  flex-shrink: 0;
  flex-grow: 0;
  width: 250px;
  padding-left: 40px;
}

.toc, .toc ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer {
  background: $color-dark-gray;
  color: $color-white;
}

.footer-inner {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.button {
  display: inline-block;
  padding: 20px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  vertical-align: middle;
  background: $color-mid-blue;
  color: $color-white;
}

.button:hover {
  background: $color-dark-blue;
  color: $color-white;
}


/* GENERAL ELEMENT TYPE STYLES */

h1, h2, h3 {
  color: $color-blue-black
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 400;

}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

ol, ul {
  list-style-position: inside;
  padding-left: 0;
}

/* #Media Queries
================================================== */

// /* Smaller than standard 960 (devices and browsers) */
// @media only screen and (max-width: 959px) { }

// /* Tablet Portrait size to standard 960 (devices and browsers) */
// @media only screen and (min-width: 768px) and (max-width: 959px) {
//   .inner {
//     width: 740px;
//   }
//   header h1, header h2 {
//     width: 340px;
//   }
//   header h1 {
//     font-size: 60px;
//   }
//   header h2 {
//     font-size: 30px;
//   }
//   #main-content {
//     width: 490px;
//   }
//   #main-content h1:before,
//   #main-content h2:before,
//   #main-content h3:before,
//   #main-content h4:before,
//   #main-content h5:before,
//   #main-content h6:before {
//     padding-right: 0;
//     margin-left: 0;
//     content: none;
//   }
// }

// /* All Mobile Sizes (devices and browser) */
// @media only screen and (max-width: 767px) {
//   .inner {
//     width: 93%;
//   }
//   header {
//     padding: 20px 0;
//   }
//   header .inner {
//     position: relative;
//   }
//   header h1, header h2 {
//     width: 100%;
//   }
//   header h1 {
//     font-size: 48px;
//   }
//   header h2 {
//     font-size: 24px;
//   }
//   header a.button {
//     position: relative;
//     display: inline-block;
//     width: auto;
//     height: auto;
//     padding: 5px 10px;
//     margin-top: 15px;
//     font-size: 13px;
//     line-height: 1;
//     color: #2879d0;
//     text-align: center;
//     background-color: #9ddcff;
//     background-image: none;
//     border-radius: 5px;
//     -moz-border-radius: 5px;
//     -webkit-border-radius: 5px;
//   }
//   header a.button small {
//     display: inline;
//     font-size: 13px;
//   }
//   #main-content,
//   aside#sidebar {
//     float: none;
//     width: 100% ! important;
//   }
//   aside#sidebar {
//     min-height: 0;
//     padding: 20px 0;
//     margin-top: 20px;
//     background-image: none;
//     border-top: solid 1px #ddd;
//   }
//   aside#sidebar a.button {
//     display: none;
//   }
//   #main-content h1:before,
//   #main-content h2:before,
//   #main-content h3:before,
//   #main-content h4:before,
//   #main-content h5:before,
//   #main-content h6:before {
//     padding-right: 0;
//     margin-left: 0;
//     content: none;
//   }
// }

// /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
// @media only screen and (min-width: 480px) and (max-width: 767px) { }

// /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
// @media only screen and (max-width: 479px) { }